<!DOCTYPE html>
<html lang="en">
    <head>
        @@include("../views/parts/head.html", { "title": "Home page" })

        <link href="styles/main.css" rel="stylesheet" />
    </head>
    <body>
        @@include("../views/parts/header.html")

        <section>
            <div class="container">
                <h1>Gulp starter kit</h1>
            </div>
        </section>

        @@include("../views/parts/footer.html")

        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
